@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit.ttf") format("truetype");
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fefefe;
  color: #000000;
  width: 20%;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.section-content {
  font-size: 0.9rem;
}

.section-divider {
  border-bottom: #000000;
  border: none;
  border-top: 2px solid #000;
  margin: 0.5rem 0;
}

.endings-content {
  margin-top: 14rem;
  font-size: 0.9rem;
}

.username-footer {
  font-size: 0.8rem;
}
